* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  background-color: black;
  margin: 0rem;
}

h1 {
  font-size: clamp(2rem, 5.5vw, 15rem);
  color: white;
}

h1,
h2,
h3 {
  font-family: 'Space Mono', monospace;
}

.cont {
  padding: 0rem clamp(1rem, 2vw, 3rem);
}

a {
  text-decoration: none
}

a,
h1,
body {
  max-width: 100%;
}

span.line {
  display: inline-block;
}