body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsla(226, 0%, 0%, 1);
}

h1 {
    position: relative;
    z-index: 1;
    font-size: 3rem;
    color: white;
}

h1::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    background: url('pattern.svg') no-repeat;
    background-size: 29px 50.115px;
    border-radius: 50%;
    filter: blur(15px);
    transform: translate(-50%, -50%);
    z-index: -1;
}

h1::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 120%;
    background: url('pattern.svg') no-repeat;
    background-size: 29px 50.115px;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    z-index: -2;
}
