:root {
  --bg-height: 300px;
}

body {
  background-color: #191919;
  font-family: "Fredoka", sans-serif;
}

#contenuto {
  margin: 15px;
  text-align: center;
  margin-top: 35px;
  color: white;
}

#pianista {
  border-radius: 50%;
  width: 96px;
  height: 96px;
  cursor: default;
}

h2 {
  margin-bottom: 30px;
  margin-top: 25px;
  font-weight: 500;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: inherit;

}

p {
  color: inherit;
  text-align: center;
  position: relative;
  margin: 0;
  height: 100%;
  font-weight: 400;
}

.scatola a {
  margin: 0;
  padding: 0;
  pointer-events: auto;
  /* display:inline-block; */
  width: 100%;
  height: 100%;
  padding: 16px 20px;
}

.scatola {
  background-color: white;
  margin: auto;
  height: 54.5px;
  max-width: 550px;
  text-align: center;
  position: relative;
  color: black;
  text-align: center;
  vertical-align: middle;
  outline-style: solid;
  outline-width: thin;
  outline-color: white;
  transition: all 0.5s ease-in;
  box-shadow: 4px 3px 8px -1px rgba(0, 0, 0, 1);
  margin-bottom: 15px;
}

.scatola:hover {
  background-color: black;
  color: white;
  outline-style: solid;
  outline-color: white;
  box-shadow: 4px 3px 20px -11px rgba(255, 255, 255, 1) inset;
}

.logo {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  transition: all 0.5s ease-in;
}

.scatola img.bg {
  object-fit: cover;
  object-position: 50% 50%;
  height: 54px;
}

.scatola img.bg-2 {
  visibility: hidden;
  opacity: 0;
}

.scatola:hover .bg {
  height: var(--bg-height);
  z-index: 1;
  opacity: 0;

  transition-property: height, opacity;
  transition-duration: 0.5s, 0.5s;
  transition-delay: 0s, 0.5s;
  transition-timing-function: ease-out;

}

.scatola .bg {
  opacity: 1;
  overflow: visible;
  transition-property: height, opacity;
  transition-duration: 0s, 0.5s;
  transition-delay: 0s, 0s;
  transition-timing-function: ease-out;

}

.scatola:hover img.bg-2 {
  filter: invert(1);
  transition: all 0.5s ease-in;
  z-index: 2;
  visibility: visible;
  opacity: 1;
}

.scatola:hover img.logo {
  filter: invert(1);
  transition: all 0.5s ease-in;
}

.bg,
.bg-2 {
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  transition: all 0.5s ease-in;
  width: var(--bg-height);
}

.scatola:hover .bg {
  height: var(--bg-height);
}

@media screen and (max-width: 550px) {
  :root {
    --bg-height: 250px;
  }

  h2 {
    margin-top: 7px;
    margin-bottom: 11px;
  }

  #contenuto {
    margin-top: 15px;
  }

  p {
    padding-right: 200px;
  }
}

@media screen and (min-width: 551px) {
  :root {
    --bg-height: 300px;
  }

  p {
    padding-right: 280px;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --bg-height: 200px;
  }


  p {
    padding-right: 150px;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --bg-height: 150px;
  }

  p {
    padding-right: 100px;
  }
}

@media screen and (max-width: 300px) {
  :root {
    --bg-height: 75px;
  }

  p {
    padding-right: 50px;
  }
}

/* p {
  padding-right: calc(var(--bg-height)/2 - 50px) !important;
} */
.animate-in {
  animation: fadeIn .5s ease-in;
  background-color: #000;
}

.animate-out {
  transition: opacity .5s;
  opacity: 0;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}