body {
  background-color: #191919;
    font-family: "Fredoka", sans-serif;
}

#contenuto {
  margin: 15px;
  text-align: center;
  margin-top: 35px;
  color: white;
}

#pianista {
  border-radius: 50%;
  width: 96px;
  height: 96px;
  cursor: default;
}

h2 {
  margin-bottom: 30px;
  margin-top: 25px;
  font-weight: 500;
}

a {
  text-decoration: none;
  font-weight: 600;
  color:inherit;

}

p {
  color: inherit;
  text-align: center;
  position: relative;
  margin: 0;
  height: 100%;
  font-weight: 400;
}
.scatola a{
  margin: 0;padding:0;
  pointer-events: auto;
  /* display:inline-block; */
width:100%;
height:100%;
padding: 16px 20px;
}
.scatola {
  background-color: white;
  margin: auto;
  height:54.5px;
  max-width: 550px;
  text-align: center;
  position: relative;
  color: black;
  text-align: center;
  vertical-align: middle;
  outline-style: solid;
  outline-width: thin;
  outline-color: white;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  box-shadow: 4px 3px 8px -1px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 4px 3px 8px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 4px 3px 8px -1px rgba(0, 0, 0, 1);
  margin-bottom: 15px;
}

.scatola:hover {
  background-color: black;
  color: white;
  outline-style: solid;
  outline-color: white;
  box-shadow: 4px 3px 20px -11px rgba(255, 255, 255, 1) inset;
  -webkit-box-shadow: 4px 3px 20px -11px rgba(255, 255, 255, 1) inset;
  -moz-box-shadow: 4px 3px 20px -11px rgba(255, 255, 255, 1) inset;
  transition: 0.5s;
}

.logo {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
}

.scatola img.bg {
  object-fit: cover;
  object-position: 50% 50%;
  height: 54px;
}

.scatola img.bg-2 {
  visibility: hidden;
  opacity: 0;
}
/* SPERIMENRALE*/
 .scatola:hover .bg{
height: 300px;
z-index: 1;
opacity:0;

      transition-property: height, opacity;
      transition-duration:0.5s, 0.5s;
      transition-delay:0s, 0.5s;
      transition-timing-function:ease-out;

}
 .scatola .bg{
  height:54px;
opacity:1;
  overflow:visible;

  transition-property: height, opacity;
  transition-duration:0s, 0.5s;
  transition-delay:0s, 0s;
  transition-timing-function:ease-out;

    }

.scatola:hover img.bg-2 {
  filter: invert(1);
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  z-index: 2;
  visibility: visible;
  opacity: 1;
}
.scatola:hover img.logo {
	filter: invert(1);
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
}
.bg,
.bg-2{
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
}

@media screen and (max-width: 550px) {
  .bg,
  .bg-2{
    width: 250px;
		right:-8px;

  }
  .scatola:hover .bg{
 height: 250px; }
  h2 {
    margin-top: 7px;
    margin-bottom: 11px;
  }
  #contenuto {
    margin-top: 15px;
  }
	p{
    padding-right: 200px;
}
}

@media screen and (min-width: 551px) {
	.bg,
  .bg-2{
    width: 300px;
  }
	p{  padding-right: 280px;
}
}
.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
    background-color: #000;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
