/*

https://www.canva.com/colors/color-palettes/summer-splash/

*/
:root {
  --testo: #5cc0e2;
  --principale: #6778cc;
  --sfondo: #050a30;
}
button:hover{
  cursor:pointer;
}
body{
  margin: 0;
  background-image: url('sfondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  color:var(--testo);
  tab-size: 4;
  font-family: 'prototyperegular', Arial, sans-serif;
  font-size: 18px;

}
.scritte a{
  margin: auto 15px;
}

#studio{
  width:200px;
}
#home
{
  width:200px;

}
b{
  font-family: 'aquire', Arial, sans-serif;
    letter-spacing:5px;

    font-size: 120%;

}
b,.titolo{
  color: var(--principale);
  font-variant: small-caps;

}
* {
  box-sizing: border-box;
}
.centra{
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  color: inherit;
  text-decoration: none;
}
table{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -350px; /* half of the height */
  margin-left: -550px; /* half of the width */
  height:700px;
  width:1100px;
  background-color:var(--sfondo);
}
table , td, th {
    border: 1px solid var(--principale);
  /*  border-collapse: collapse;*/
}
.titolo{
  height:50px;
/*  display: grid;
  grid-template-columns: 1fr 1fr;*/
}
.vuoto,input{
  height:25px;
  background-image: url("onde.svg");
background-color: var(--sfondo);
  background-repeat: repeat;
}
.testi{
  width:1px;

}
[id=home]{
  background: url("home.png");
}
[id=studio]{
  background: url("studio.png");
}
.immagine{
background-repeat: no-repeat;
background-size: cover;
width:99px;
height:172px;
background-position: center center;
}
#ora{
  text-align: right;
  padding-right:10px;
  float: right;
  letter-spacing:2px;
  font-variant: small-caps;

/*font-family: 'aquire', Arial, sans-serif;*/
display: inline-block;
width: .52em;
text-align: center;
position: relative;
right:85px;
color: var(--testo);
}
#ciao{
  text-align: left;
  padding-left:10px;

  float: left;
}
.testititolo{

}
.scritte{
  text-align: center;
}
hr{
  border-width: 0px;
  margin-bottom: 8px;
  margin-top: 5px;
}
@media screen and (max-device-height: 1080px) {
table{
  height:701.5px;
}
}

.form{
  position:absolute;

top:58px;
left:10px;
}
input,button{

  border: 0px;
width:100%;
font-family: 'prototyperegular', Arial, sans-serif;
font-size: 18px;
color:var(--testo);
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;

background: transparent;
border: none;
}
input:focus{
    outline: none;
}
