body {
    background-color: #000;
    line-height: 1;
    color: var(--offwhite);
    perspective: 1px;

}



html,
body {
    overflow-x: hidden;
    overscroll-behavior-y: none;
}


:root {
    --offwhite: hsl(0, 35%, 92%);

    --dark-red: hsl(345, 25%, 33%);
    --light-red: hsl(343, 30%, 52%);
    --light-blue: hsl(195, 18%, 55%);
    --dark-blue: hsl(214, 14%, 23%);


    --gr1: linear-gradient(45deg, var(--light-blue) 0%, var(--light-blue) 27%, var(--dark-red) 100%);
    --gr2: linear-gradient(45deg, var(--dark-blue) 0%, var(--dark-blue) 27%, var(--dark-red) 100%);
    --gr3: linear-gradient(45deg, var(--light-blue) 0%, var(--light-blue) 27%, var(--light-red) 100%);
    --gr3-flipped: linear-gradient(225deg, var(--light-blue) 0%, var(--light-blue) 27%, var(--light-red) 100%);
    --gr4: linear-gradient(45deg, var(--dark-blue) 0%, var(--dark-red) 27%, var(--light-red) 100%);
    --gr5: linear-gradient(45deg, var(--light-blue) 0%, var(--light-blue) 27%, var(--offwhite) 100%);

    --lifestyle-fs: clamp(6rem, 12vw, 12rem);

    --diagonal-lines: repeating-linear-gradient(-45deg, hsla(0, 0%, 0%, 100%), hsla(0, 0%, 0%, 100%) 5px, hsla(0, 0%, 100%, 0) 5px, hsla(0, 0%, 100%, 0) 25px);
    --min-hand-opacity: 0.85;
}



::selection {
    color: var(--offwhite);
    background: var(--dark-red)
}

.gr1 {
    background: var(--gr1)
}

.gr2 {
    background: var(--gr2)
}

.gr3 {
    background: var(--gr3)
}

.gr4 {
    background: var(--gr4)
}

.gr5 {
    background: var(--gr5)
}

.title-container {
    padding-top: clamp(3rem, 50svh, 17rem);

}

#title {
    color: var(--offwhite);
    font-size: clamp(3rem, 14vw, 10em);
    font-weight: bolder;
    line-height: .6;
}


.sub-title {
    font-size: 2rem;
    font-size: clamp(1.2rem, 4vw, 2.5em);
    margin-top: clamp(2px, 4svw, 1.5rem);
}

img {
    width: 100%;
    user-select: none !important
}

.bg-title {
    background-size: cover;
    background-position-x: center;
    background-position-y: 33%;
    background-image: url(assets/title-bg.webp);
    height: 600px;
    min-height: 100vh;
    min-height: 100lvh;
    overflow-y: hidden;
    filter: contrast(1.2);
}

#hand-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-size: cover;
    background-position-x: center;
    background-position-y: 33%;
    background-image: url(assets/hand-overlay4.webp);
    height: 100%;
    /* transition: opacity .6s; */
    opacity: var(--min-hand-opacity);
    pointer-events: none;
}

/* 

    max <=
    min >=

*/
/* 
    281 x 468
    429px x 727px
*/
@media all and (493px <=width <=791px) and (782px <=height <=795px),
all and (430px <=width <=1238px) and (421px <=height <=782px),
all and (402px <=width <=430px) and (741px <=height <=754px),
all and (381px <=width <=519px) and (429px <=height <=740px),
all and (273px <=width <=380px) and (518px <=height <=799px),
all and (257px <=width <=270px) and (518px <=height <=726px),
all and (257px <=width <=429px) and (375px <=height <=518px),
all and (233px <=width <=423px) and (429px <=height <=727px),
all and (width < 234px) {
    #hand-overlay {
        display: none;
    }
}

@media all and (299px <=width <=303px) and (447px <=height <=451px) {
    #hand-overlay {
        display: block;
    }

    #heart {
        color: var(--light-red)
    }
}


.girlinmotion {
    height: 100%;
    object-fit: cover;
    width: auto;
    /* max-width: 100vw; */
    max-height: 100svh;
}

.subtleMove {
    animation: subtleMove 10s infinite ease-in-out
}

p {
    text-wrap: balance;
    text-wrap: pretty;
    line-height: 1
}

span.line {
    display: inline-block;
    width: max-content
}

#fashion,
#lifestyle,
#modelling,
#travelling {
    display: block;
    animation-duration: 4s;
}

#interests:hover {
    animation-duration: .75s
}

#interests {
    background-image: var(--gr3-flipped) !important;
    -webkit-background-clip: text;
    background-clip: text !important;
    /* color: transparent; */
    -webkit-text-fill-color: transparent;
    filter: brightness(1.2) contrast(1.2);
    user-select: none;
}


#lifestyle {
    font-size: var(--lifestyle-fs);
    line-height: .3;
    animation-delay: .5s;
}

#modelling {
    font-size: calc(var(--lifestyle-fs) * .822);
    line-height: 1;
    animation-delay: 1s;
}

#travelling {
    font-size: calc(var(--lifestyle-fs) * .821);
    line-height: .3;
    animation-delay: 1.5s;
}

#fashion {
    font-size: calc(var(--lifestyle-fs) * 1.1275);
    line-height: .8;
    animation-delay: 0s;
}






.min-height {
    height: min-content !important
}

.background-video {
    width: 100%;
    /* max-height: 100vh; */
    /* max-height: 100lvh; */
    overflow: hidden;
    position: relative
}

.bgVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100lvh;
    object-fit: cover;
    filter: blur(10px);
    transform: scale(1.5);
}

.background-video div.container img {
    transition: 1s ease-in-out;
    opacity: .9;
    cursor: help;
    filter: contrast(1.2)
}

.background-video div.container img:hover {
    opacity: 1
}

.opacity-33 {
    opacity: 33% !important
}

.bg2 {
    background-size: cover;
    background-position-x: center;
    background-image: url(assets/625.webp);
    min-height: 100vh;
    min-height: 100lvh;
    background-position-y: 33%;
    background-position-x: left;
    background-attachment: fixed
}

#endVid {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}


.background-video.sunset {
    position: relative;
    width: 100vw;
    overflow: hidden
}

div.end {
    height: 100lvh;
}

.background-video.end div.container {
    gap: 5rem;
}

.instagram-media {
    width: 600px !important;
    max-height: calc(100svh - 2rem);
    max-width: calc(100vw - 10rem) !important;
    aspect-ratio: 698/931;
    border: initial !important
}

div.insta {
    gap: 1.5rem;
}

div.insta,
div.youtube div.yt {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.cursor-pointer {
    cursor: pointer
}

@keyframes movePropic {
    0% {
        transform: rotate(0)
    }

    50% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(0)
    }
}

.propic {
    height: 156px;
    width: 156px;
    border-radius: 100%;
    position: relative
}

img[alt=propic] {
    height: 150px;
    width: 150px;
    outline-offset: 3px;
    outline: #4f4f4f 2px solid
}

.propic .bg {
    height: 156px;
    width: 156px;
    animation: movePropic 5s linear infinite;
    position: absolute;
    background: linear-gradient(45deg, rgba(245, 160, 77, 1) 0, rgba(160, 15, 139, 1) 100%)
}

.instastuff div:hover .propic .bg,
.link-pic img {
    animation-duration: 2s;
}

#email,
.propic img,
.propic+p,
.link-pic p {
    transition: 1s;
    /* user-select: none */
}


.link-pic:hover img {
    outline-offset: 10px !important;
    filter: brightness(1.05) contrast(1.1);
    animation: randomMove 1s linear infinite;
    transform-origin: center;
}

.link-pic:hover p {
    font-weight: 400;
    letter-spacing: 1px
}

.link-pic img {
    filter: contrast(.95) grayscale(0.05) brightness(1);
}

.link-pic:hover img {
    filter: contrast(1.1) grayscale(0) brightness(1.1);
    outline-color: #693f49
}

img.parallax {
    height: min(50vh, 350px);
    object-fit: cover;
    width: 100%
}

.container-fluid.youtube {
    background-position: right 90%;
    min-height: 600px;
    background-size: cover;

    background-image: url(assets/545.webp);
    /* background-position-x: right;
    background-position-y: 90%; */
    min-height: 600px;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
}

@supports (-webkit-touch-callout: none) {
    .container-fluid.youtube {
        background-attachment: initial !important;

    }
}

div.youtube div.yt {
    justify-content: end;
    /* gap: 3rem; */
}

a.link-pic,
#vid_control {
    color: var(--offwhite);
    text-shadow: 1px 2px 4px hsla(0, 0%, 0%, 90%);
    transition: 200ms cubic-bezier(0.175, 0.885, 0.32, 2.575);
}

#vid_control:hover {
    scale: 1.1;
}

.instagrow {
    flex-grow: 1
}

.w-90 {
    width: 90% !important;
}

#youtube_video {
    max-width: 100vw;
    width: 50%;
    aspect-ratio: 16/9;
    height: initial;
    transition: .2s ease-in-out;
    box-shadow: 5px 8px 12px hsla(0, 0%, 0%, 30%);
    border-radius: .2rem;
}

#contact-block {
    align-content: center;
    min-height: 100lvh;
}

div:has(div#interests),
.interests-container {
    min-height: 80lvh;
}

@media all and (max-width:1300px) {
    #youtube_video {
        width: 66%
    }

}

@media all and (max-width:768px) {

    div:has(div#interests),
    .interests-container {
        align-items: center;
    }

}

@media all and (max-width:576px) {
    .container-fluid.youtube {
        background-position-x: right;
        background-position-y: 90%;
        min-height: 400px
    }

    div.insta {
        flex-direction: column;
        justify-content: center;
        gap: 2.5rem;

    }

    #contact-block {
        padding: 5rem 0
    }

    .background-video.end div.container {
        gap: 0;
    }

    /* 
    .gallery {
        pointer-events: none;
    } */

    .gallery::before,
    .gallery::after,
    #hollywood::before,
    #hollywood::after {
        opacity: .3;
    }

}

@media all and (max-width:347px) {
    :root {
        --lifestyle-fs: clamp(2rem, 24vw, 6rem);
    }
}


@media all and (max-width:860px) {
    div.youtube div.yt {
        justify-content: center;
        flex-direction: column;
        gap: 2.5rem;
    }


    #youtube_video {
        width: 100%
    }

    div.background-video.end div.container {
        flex-direction: column-reverse
    }

    #vid_control {
        display: none;
    }

    div.end {
        height: initial;
    }
}





#email:hover,
.fakeemail {
    font-weight: 400;
    letter-spacing: 1px
}

#email {
    text-decoration: none;
    color: var(--offwhite)
}

:root {
    --animation-duration: 70s
}

#hollywood {
    overflow: hidden;
}





#hollywood::before,
#hollywood::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, transparent 80%, black 100%);
    /* filter: contrast(1.3) brightness(1.2); */
    z-index: 3;
}

#hollywood::after {
    transform: scaleX(-1);
}


.loop {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    text-transform: uppercase;
    transform: translateY(-50%);
    font-size: 4rem;
    user-select: none;
    color: var(--offwhite);
}

.loop span {
    display: inline-block;
    padding-left: 100%;
    animation: loop var(--animation-duration) linear infinite;
    animation-delay: calc(-0.5 * var(--animation-duration));
}

.loop2 span {
    animation-delay: 0s;
}

@keyframes loop {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

@-webkit-keyframes loop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
    }
}

.full-section {
    min-height: 100vh !important;
    min-height: 100lvh !important;
    width: 100%;
}

.max-height {
    max-height: 100vh;
    max-height: 100lvh
}

.w-max {
    width: max-content !important;
    max-width: 100%
}

.w-min {
    width: min-content !important;
    max-width: 100%
}


@keyframes subtleMove {
    0% {
        transform: rotate(0) translate(0, 0)
    }

    10% {
        transform: rotate(1deg) translate(2px, 2px)
    }

    20% {
        transform: rotate(2deg) translate(4px, 4px)
    }

    30% {
        transform: rotate(1deg) translate(3px, 3px)
    }

    40% {
        transform: rotate(0) translate(1px, 1px)
    }

    50% {
        transform: rotate(-1deg) translate(2px, 2px)
    }

    60% {
        transform: rotate(-2deg) translate(4px, 4px)
    }

    70% {
        transform: rotate(-1deg) translate(3px, 3px)
    }

    80% {
        transform: rotate(0) translate(1px, 1px)
    }

    90% {
        transform: rotate(1deg) translate(2px, 2px)
    }

    100% {
        transform: rotate(0) translate(0, 0)
    }
}

@keyframes randomMove {
    0% {
        transform: translate(0, 0)
    }

    25% {
        transform: translate(1px, 1px)
    }

    50% {
        transform: translate(0, 0)
    }

    75% {
        transform: translate(-1px, -1px)
    }

    100% {
        transform: translate(0, 0)
    }
}



@keyframes hearts {
    0% {
        opacity: 0;
        transform: translate(0, 0%) rotate(45deg);
    }

    20% {
        opacity: 0.8;
        transform: translate(0, -20%) rotate(45deg);
    }

    100% {
        opacity: 0;
        transform: translate(0, -1000%) rotate(45deg);
    }
}

.particletext {
    position: relative;
}

body .particletext.hearts>.particle {
    opacity: 0;
    position: absolute;
    background-color: #cc2a5d;
    animation: hearts 3s ease-in infinite;
}

body .particletext.hearts>.particle:before,
body .particletext.hearts>.particle:after {
    position: absolute;
    content: '';
    border-radius: 100px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #cc2a5d;
}

body .particletext.hearts>.particle:before {
    transform: translateX(-50%);
}

body .particletext.hearts>.particle:after {
    transform: translateY(-50%);
}

.glow::after {
    content: "";
    position: absolute;
    inset: -3rem;
    /* z-index: -1; */
    background: radial-gradient(hsl(0 0% 100% / 0.5), transparent 50%);
    aspect-ratio: 1;
    z-index: 1;
    /* animation: glow 1.5s ease-in infinite alternate; */
}

.glow {
    position: relative;
}

@keyframes glow {
    from {
        inset: -3rem;

    }

    to {
        inset: 0;
    }
}




@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.gradient-animation {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    opacity: .25;

    background: linear-gradient(135grad, var(--offwhite), var(--dark-red), var(--light-blue), var(--light-red), var(--dark-blue));
    background-size: 360% 360%;
    animation: gradient-animation 10s ease infinite;
}



.auto-text-1 {
    font-size: clamp(0.75rem, 1.5vw, 1rem);
}

.auto-text-2 {
    font-size: clamp(1.2rem, 4vw, 2.5em);
}

.auto-text-3 {
    font-size: clamp(1.5rem, 2.25vw, 2rem);
}

.auto-text-4 {
    font-size: clamp(2rem, 3.375vw, 3rem);
}

.auto-text-5 {
    font-size: clamp(3rem, 14vw, 10em);
}

.auto-text-6 {
    font-size: clamp(6rem, 12vw, 12rem);
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.blur {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(0px);
    /* transition: backdrop-filter 300ms ease-in-out; */
}

/* .hidden{
    opacity: 0;
    transition: opacity 1.25s;
    
} */



/*Firefox */
@-moz-document url-prefix() {
    #interests #modelling.hidden {
        opacity: 0;
        transition: opacity 1s;
        transition-delay: 0.25s;
    }

    #interests #travelling.hidden {
        opacity: 0;
        transition: opacity 1s;
        transition-delay: .5s;
    }

    #interests #fashion.hidden {
        opacity: 0;
        transition: opacity 1s;
        transition-delay: .75s;
    }

    #fashion,
    #lifestyle,
    #modelling,
    #travelling {
        animation: randomMove 2s infinite alternate;
    }

    #interests:hover span {
        animation-duration: 1.5s
    }

    #interests span.hidden {
        opacity: 0;
        transition: opacity 1s;
    }

    #interests span.show {
        opacity: 1 !important;
    }
}

/* Chrome and Safari  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #interests span.hidden {
        opacity: 1;
    }

    #interests {
        animation: randomMove 2s infinite alternate;
        opacity: 0;
        transition: opacity 2.5s;
    }

    #interests.show {
        opacity: 1 !important;
    }
}