.flickity-viewport, 
.flickity-slider {
    height: 100%;
    width: 100%;
}

.gallery {
    height: 85vh;
    height: 85svh;
    /* max-height: 454px; */
    width: 100%;
    /* background: #e4ded5; */
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 1;

}

.gallery .slide {
    /* width: 10; */
    height: 100%;
    min-height: 100%;
    margin-right: 3vw;
    transform: translateX(8vw);
    transition: transform 0.9s ease-in-out;
}

.gallery .slide img {
    display: block;
    width: 100%;
    /* max-width: 75vw !important; */
    height: 100%;
    min-height: 100%;
    object-fit: cover;
    /* Ensures images cover the container */
}

.gallery .slide.is-previous {
    transform: translateX(0);
}

.gallery .slide.is-selected {
    transform: translateX(0);
}

.gallery .slide.is-next {
    transform: translateX(12vw);
}

.gallery .slide.slide-1 {
    width: 20vw;
    margin-right: 10vw;
}

.gallery .slide.slide-2 {
    width: 75vw;
    margin-top: -4vh;
}

.gallery .slide.slide-3 {
    width: 65vw;
    margin-top: 6vh;
}

.gallery .slide.slide-4 {
    margin-top: 2vh;
    margin-left: -8vw;
}


.gallery+img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.gallery::before,
.gallery::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, hsla(0,0%,0%,0), hsla(0, 0%, 0%, 0) 80%, hsla(0, 0%, 0%, .5) 100%);
    z-index: 1;
    pointer-events: none;
}


.gallery::after {
    /* background: linear-gradient(to left, hsla(0, 0%, 0%, 0) 80%, hsla(0, 0%, 0%, 1) 99%, hsl(0, 0%, 0%)); */
    transform: scaleX(-1);
}